@(title: String, nav: String = "")(content: Html)

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

<!DOCTYPE html>
<html lang="@lang().code()">
 <head>
    <title>@title</title>
   
    <!-- Le meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Reminiscens is a tablet application to stimulate good old positive memories with context">
    <meta name="author" content="Reminiscens Team">

    <!-- Le styles -->
    <link href="/lifeapi/assets/stylesheets/main.min.css" rel="stylesheet">
    <link href="/lifeapi/assets/stylesheets/bootstrap.css" rel="stylesheet">

    <style> 
    font-face {
        font-family: 'Glyphicons Halflings';
        src: url('/lifeapi/assets/fonts/glyphicons-halflings-regular.eot');
        src: url('/lifeapi/assets/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/lifeapi/assets/fonts/glyphicons-halflings-regular.woff') format('woff'), url('/lifeapi/assets/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('/lifeapi/assets/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
    }
    </style>
    
  <!-- Le scripts -->
  <script src="/lifeapi/assets/javascripts/jquery.js"></script>
  <script src="/lifeapi/assets/javascripts/jquery.storageapi.min.js"></script>
  <script src="/lifeapi/assets/javascripts/bootstrap.min.js"></script>
  <script src="/lifeapi/assets/javascripts/localvariables.js"></script> 
  <script src="/lifeapi/assets/javascripts/app.js"></script> 
    
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
 </head>
 
 <body>       
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/lifeapi@routes.Application.index()">Reminiscens</a>
      </div>         
      <div id="loginForm" class="navbar-collapse collapse">  
        <ul class="nav navbar-nav"></ul>
        <form class="navbar-form navbar-right">
          <div class="form-group">
            <input name="email" id="email" type="text" placeholder="Email" class="form-control">
          </div>
          <div class="form-group">
            <input name="password" id="password" type="password" placeholder="Password" class="form-control">
          </div>
          <button class="btn btn-success" type="submit" id="loginButton">Entra</button>
        </form>
      </div>
    </div>        
  </div>
    
  <div class="container"> @content </div>
  <hr>
    
  <script>
  
	$(document).ready(
			function() {
				if (window.location.hostname == "http://base.reminiscens.me") {
					console.log("Setting API url to BASE");
					SetBaseUrl("http://base.reminiscens.me");
				} else if (window.location.hostname == "localhost"){
		            localBaseUrl = "http://localhost";
		            SetBaseUrl("http://localhost");
		        } else {
					console.log("Setting API url to TEST");
					SetBaseUrl("http://test.reminiscens.me");
				}
				if (GetSessionKey() != "" && GetSessionKey() != null) {
					var username = GetPersonName();
					$("#loginForm").html("<ul class='nav navbar-nav'><li class='active'><a href='#'>Benvenuto "
								+ username
								+ "!</a></li></ul>"
							    + "<form class='navbar-form navbar-right'><button id='logoutButton1' type='submit' class='btn btn-danger'>Logout</button></form>");
					   }
				 $( "#logoutButton1" ).click(function( event ) {
			          event.preventDefault();
			          Logout();
			    });

			    $( "#logoutButton1" ).submit(function( event ) {
			          event.preventDefault();
			          Logout();
			    });
				 							
				});


    initialize();
    </script>
</body>
</html>
