@(contextId: Long, personForName: String)

@main("Multimedia per stimolare i Ricordi","login") {
 
<br><br><br>
<div class="container">
    <form role="role" id="formMemento">
        <!-- Form Name -->
        
        @if(contextId!=null) {
            <legend>Aggiungi una risorsa che fa riferimento al passato e che sia disponibile online, per farlo vedere a @personForName</legend>
        } else {
            <legend>Aggiungi una risorsa che fa riferimento al passato e che sia disponibile online</legend>
        }
        
            <div class="row">
                <div class="col-md-6">
                <!-- Text input-->
					<div class="form-group">
					  <label id="headlineLabel" for="headline">Titolo/Nome</label>
					  <input id="headline" name="headline" type="text" placeholder="Titolo" class="form-control">
					  <p class="help-block">Il titolo o nome della risorsa (se fosse una canzone, il titolo della canzone. Se fosse una persona, il suo nome)</p>
					</div>
	           </div>
				<div class="col-md-6">
					<!-- Textarea -->
					<div class="form-group">
					  <label id="textLabel" for="text">Descrizione</label>
					  <textarea id="text" name="text" rows="3" class="form-control" placeholder="Introduce una descrizione della risorsa"></textarea>
					</div>
				</div>
	       </div>
		  <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                      <label id="authorLabel" for="author">Autore</label>
                      <input id="author" name="author" type="text" placeholder="Autore (e.g. 'Lucio Battisti')" class="form-control">
                </div>
            </div>
            <div class="col-md-4">
				<!-- Select Basic -->
		        <div class="form-group">
		          <label id="categoryLabel" for="category">Categoria</label>
		          <select id="category" name="category" class="form-control">
		              <option value="SONG">Canzone</option>
		              <option value="PICTURE">Immagine/Fotografia</option>
		              <option value="PEOPLE">Persona</option>
		              <option value="STORY">Storia/Evento</option>
		              <option value="TV">Programma di TV</option>
		              <option value="FILM">Film</option>
		          </select>
		        </div>
		    </div>
            <div class="col-md-4">
		        <!-- Select Basic -->
		        <div class="form-group">
		          <label id="resourceTypeLabel" for="resourceType">Tipo</label>
		            <select id="resourceType" name="resourceType" class="form-control">
		              <option value="IMAGE">La risorsa e' una immagine</option>
		              <option value="VIDEO">La risorsa e' un video</option>
		              <option value="AUDIO">La risorsa e' un audio</option>
		              <option value="TEXT">La risorsa e' un testo</option>
		              <option value="HTML">La risorsa e' una pagina HTML</option>
		          </select>
                </div>
	       </div>
        </div>
		<div class="row">		
            <div class="col-md-3">
                <div class="form-group">
                      <label id="sourceLabel" for="source">Fonte</label>
                      <input id="source" name="source" type="text" placeholder="Da dove hai presso l'URL (e.g. Wikipedia, Youtube)" class="form-control">
                </div>
            </div>
		    <div class="col-md-5">
				<!-- Text input-->
				<div class="form-group">
				  <label id="resourceUrlLabel" for="resourceUrl">URL della risorsa</label>
				  <input id="resourceUrl" name="resourceUrl" type="text" placeholder="URL della risorsa (e.g. http://www.youtube.com/watch?v=CqqSklcgThA)" class="form-control">
				  <p class="help-block">Coppia qui, l'URL del video youtube o immagine che vuoi aggiungere</p>
				</div>
			</div>  
            <div class="col-md-4">
                <div class="form-group">
                      <label id="sourceUrlLable" for="sourceUrl">Fonte Home</label>
                      <input id="sourceUrl" name="source" type="text" placeholder="Home della risorsa (e.g. www.youtube.com/channel/abc)" class="form-control">
                </div>
            </div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<!-- Text input-->
				<div class="form-group">
				  <label id="yearLabel" for="year">Anno</label>
				  <input id="year" name="year" type="text" placeholder="Anno" class="form-control">
				</div>
				
				<!-- Text input-->
				<div class="form-group">
				  <label id="monthLabel" for="month">Mese</label>
				  <select id="month" name="month" class="form-control">
                      <option></option>
                      <option>01</option>
                      <option>02</option>
                      <option>03</option>
                      <option>04</option>
                      <option>05</option>
                      <option>06</option>
                      <option>07</option>
                      <option>08</option>
                      <option>09</option>
                      <option>10</option>
                      <option>11</option>
                      <option>12</option>
                  </select>
				</div>
				
				<!-- Text input-->
				<div class="form-group">
				  <label id="dayLabel" for="day">Giorno</label>
				  <select id="day" name="day" type="text" class="form-control"></select>
				</div>
			</div>
			<div class="col-md-6">
				<!-- Password input-->
				<div class="form-group">
				  <label id="countryLabel" for="country">Nazione</label>
				  <input id="country" name="country" type="text" placeholder="Nazione" class="form-control">
				</div>
				
				<!-- Text input-->
				<div class="form-group">
				  <label id="regionLabel" for="region">Regione</label>
				  <input id="region" name="region" type="text" placeholder="Regione" class="form-control">
				</div>
				
				<!-- Text input-->
				<div class="form-group">
				  <label id="cityLabel" for="city">Citta</label>
				  <input id="city" name="city" type="text" placeholder="Citta" class="form-control">
				</div>
				
				<!-- Text input-->
				<div class="form-group">
				  <label id="locationTextualLabel" for="locationTextual">Nome del posto</label>
				  <input id="locationTextual" name="locationTextual" type="text" placeholder="Nome del posto" class="form-control">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<!-- Button -->
					<div class="form-group">
					  <label id="submitLabel" for="submit">Salva il nuovo memento</label>
					  <button id="postMemento" name="postMemento" class="btn btn-success">Salva!</button>
					</div>
			</div>
			<div class="col-md-6">
			    <div id="postMementoResult"></div>
			</div>
		</div>
		<input type="hidden" id="contextId" value="@contextId"></input>
    </form> 
</div>
}